body {
    background-color: #FF9F1C;
    color: #FDFFFC;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button {
    padding: 5px 20px;
    background-color: #41EAD4;
    color: #011627;
}

input {
    height: 22px;
}
